header
{
    background-color: #FFFFFF;
}

body
{
    background-color: #FFFFFF;
    margin: 0;
}

footer
{
    background-color: #191606;
    position: fixed;
    height: 10%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

a.headname
{
    color: #000000;
    text-decoration: none;
}

.topnav > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav > ul > li
{
    float: right;
}

.topnav > ul > li > a
{
    color: #535353;
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.topnav > ul > li > a:hover
{
    background-color: #EEEEEE;
}

.footnav > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footnav > ul > li
{
    float: left;
}

.footnav > ul > li > a
{
    color: #AAAAAA;
    display: block;
    text-align: center;
    padding: auto;
    text-decoration: underline;
}
